[project]
	description = Etersoft EPM package manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vitaly Lipatov (vitlav)
[access "refs/for/refs/*"]
	read = group user/Vitaly Lipatov (vitlav)
	push = group user/Vitaly Lipatov (vitlav)
	label-Code-Review = -2..+2 group user/Vitaly Lipatov (vitlav)
	label-Verified = -1..+1 group user/Vitaly Lipatov (vitlav)
	rebase = group user/Vitaly Lipatov (vitlav)
	removeReviewer = group user/Vitaly Lipatov (vitlav)
	submit = group user/Vitaly Lipatov (vitlav)
[access "refs/heads/*"]
	read = group user/Vitaly Lipatov (vitlav)
	create = group user/Vitaly Lipatov (vitlav)
	push = +force group user/Vitaly Lipatov (vitlav)
	pushMerge = group user/Vitaly Lipatov (vitlav)
[access "refs/tags/*"]
	push = +force group user/Vitaly Lipatov (vitlav)
	pushTag = group user/Vitaly Lipatov (vitlav)
	pushSignedTag = group user/Vitaly Lipatov (vitlav)
